body,
html {
  margin: 0;
  font-family: Verdana;
}

* {
  box-sizing: border-box;
}

.my-modal-title {
  color: #42B883;
  margin: 0;
}

.my-modal-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  float: right;
  margin-top: 20px ;
  margin-left: 5px;
  margin-bottom: 5px;
}

.my-modal-text {
  line-height: 28px;
  font-size: 14px;
  margin: 20px 0 0;
}

  .my-modal-btn {

    border: 0;
    outline: 0;
    min-width: 100px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;

    transition: transform .3s, background-color .3s;
    transform: scale(1);

    &:hover {
      transform: scale(1.05);
    }

    &.primary {
      background-color: #3d54ee;
      color: white;

      &:hover {
        background-color: #1832dd;
      }

    }

     &.secondary {
      background-color: #42B883;
      color: white;

      &:hover {
        background-color: #25b071;
      }

    }

    &.danger {
      background-color: #EF4444;
      color: white;

      &:hover {
        background-color: #e31f1f;
      }

    }

  }

  .my-modal-footer-wrapper {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

}